// contact.scss
// -----------------------------------------------------------------

.page-template-template-contact {
  .hentry {
    margin: 0 0 60px;
  }
}

// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {

  .page-template-template-contact {
    .hentry {
      margin: 0 0 40px;
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .page-template-template-contact {
    .hentry {
      margin: 0 0 30px;
    }
  }

}
