// site-footer.scss
// -----------------------------------------------------------------

.pays-for-itself {
  background: $ltBlue;
  padding: 30px;
  margin: 0 0 60px;
  p {
    margin: 0;
    font-size: 21px;
    color: #222;
    line-height: 40px;
    br {
      display: none;
    }
    a {
      margin-left: 10px;
    }
  }
  .btn-action {
    font-size: 18px;
    text-transform: uppercase;
    padding: 7.5px 40px;
    border-radius: 100px;
    float: right;
  }
}

// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .pays-for-itself {
    p {
      br {
        display: block;
      }
      a {
        margin: 0;
      }
    }
    .btn-action {

    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .pays-for-itself {
    text-align: center;
    p {
      margin: 0 0 15px;
    }
    .btn-action {
      float: none;
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .pays-for-itself {
    text-align: center;
    margin: 0 0 40px;
    p {
      margin: 0 0 15px;
      line-height: 1.25em;
      font-size: 18px;
      br {
        display: block;
      }
      a {
        margin: 10px 0 0;
        display: block;
      }
    }
    .btn-action {
      float: none;
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .pays-for-itself {
    margin: 0 0 30px;
    padding: 30px 15px;
  }

}
