.page-template-template-home {
  .home-built-for {
    .section-title {
      text-align: center;
      margin: 0 0 80px;
    }
  }
}
.home-built-for {
  padding: 80px 0;
  .built-for-types {
    background-image: url('assets/img/slant-bg-ltblue.svg');
    background-size: 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    .type {
      @include clearfix();
      height: 275px;
      box-shadow: 0 15px 35px hsla(240,46,36,.1),0 5px 15px hsla(0,0,0,.07);
      margin: 0 0 30px;
      background: #fff;
      .type-image {
        width: 33%;
        height: 100%;
        float: left;
        background-size: cover;
        background-position: 50% 50%;
      }
      .type-details {
        float: left;
        width: 67%;
        padding: 30px;
      }
      h4 {
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
      }
      ul {
        margin: 0 0 15px;
        padding: 0;
        list-style-type: none;
        li {
          &:before {
            content: '—';
            margin-right: 10px;
            line-height: 1.75em;
          }
        }
      }
      .type-link {

      }
    }
  }
  .built-for-bottom {
    background-color: $ltBlue;
  }
  .carousel {
    margin: 0 0 30px;
    .carousel-indicators {
      bottom: 0;
      right: 0;
      margin: 0;
      width: auto;
      left: auto;
      li {
        background: $darkNavy;
        opacity: .2;
        border: 0;
        width: 8px;
        height: 8px;
        margin: 0 0 0 3px;
        &.active {
          opacity: 1;
          border: 0;
          width: 8px;
          height: 8px;
          margin: 0 0 0 3px;
          background-color: $link-color;
          border-color: $link-color;
        }
      }
    }
  }
  .user-story {
    margin: 0 0 60px;
    .quote-img {
      position: relative;
      float: left;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background-color: #bbb;
      border-radius: 50%;
      background-size: cover;
      background-position: 50% 50%;
    }
    .success-story-quote {
      margin: 0;
    }
  }
  .ready {
    border-top: 1px solid $border-color;
    padding: 100px 0 80px;
    background-size: 550px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    p {
      font-size: 36px;
      margin: 0 0 60px;
    }
    strong {
      display: block;
      color: $green;
      font-weight: 400;
    }
    .actions {
      .btn-action {
        margin-right: 10px;
        margin-bottom: 15px;
        i {
          margin-right: 10px;
        }
      }
      .btn-link {
        background: #fff;
        border-radius: 100px;
      }
    }
  }
}



// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .page-template-template-home {

  }
  .home-built-for {
    .built-for-types {
      .type {
        height: auto;
        padding-left: 25%;
        position: relative;
        .type-image {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 25%;
        }
        .type-details {
          width: 100%;
        }
      }
    }
    .ready {
      background-size: 525px;
    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .page-template-template-home {
    .home-built-for {
      .section-title {
        text-align: center;
        margin: 0 0 60px;
      }
    }
  }
  .home-built-for {
    padding: 60px 0;
    .built-for-types {
      .type {
        height: auto;
        padding-left: 25%;
        position: relative;
        .type-image {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 25%;
        }
        .type-details {
          width: 100%;
        }
      }
      .col-md-12:last-child {
        .type {
          margin: 0;
        }
      }
    }
    .ready {
      background-size: 350px;
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .page-template-template-home {
    .home-built-for {
      .section-title {
        text-align: center;
        margin: 0 0 40px;
      }
    }
  }
  .home-built-for {
    padding: 40px 0;
    .built-for-types {
      padding-bottom: 40px;
      .type {
        height: auto;
        padding-left: 35%;
        position: relative;
        .type-image {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 35%;
        }
        .type-details {
          width: 100%;
        }
      }
    }
    .user-story {
      margin: 0 0 40px;
      .quote-img {
        float: none;
        width: 35%;
        padding-bottom: 35%;
        margin: 0 auto 15px;
      }
    }
    .ready {
      display: none;
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .page-template-template-home {
    .home-built-for {
      .section-title {
        text-align: center;
        margin: 0 0 30px;
      }
    }
  }
  .home-built-for {
    padding: 30px 0;
    .built-for-types {
      padding-bottom: 30px;
      .type {
        padding-left: 0;
        margin: 0 0 15px;
        .type-image {
          display: none;
        }
        .type-details {
          padding: 15px;
        }
      }
    }
    .user-story {
      margin: 0 0 30px;
      .quote-img {
        display: none;
      }
    }
  }

}
