@import url('style-blessed1.css?z=1486501796102');


@media (max-width: 767px) {
  .page-template-template-builtfor .page-billboard .perfect-for {
    margin-bottom: 0; }
  .page-template-template-builtfor .page-content {
    margin: 0 0 40px; }
  .page-template-template-builtfor .check-list {
    margin: 0 0 40px; }
    .page-template-template-builtfor .check-list li {
      margin: 0 0 15px; }
  .page-template-template-builtfor .signup-form {
    padding: 15px; } }

@media (max-width: 480px) {
  .page-template-template-builtfor .page-content {
    margin: 0 0 30px; }
  .page-template-template-builtfor .check-list {
    font-size: 18px;
    margin: 0 0 40px; }
    .page-template-template-builtfor .check-list li {
      margin: 0 0 10px; }
  .page-template-template-builtfor .signup-form {
    margin-left: -15px;
    margin-right: -15px; } }

.page-template-template-contact .hentry {
  margin: 0 0 60px; }

@media (max-width: 767px) {
  .page-template-template-contact .hentry {
    margin: 0 0 40px; } }

@media (max-width: 480px) {
  .page-template-template-contact .hentry {
    margin: 0 0 30px; } }

.page-template-template-features .page-billboard {
  margin: 0; }

.page-template-template-features .features-section .section-title {
  text-align: center; }

.page-template-template-features .features-section.section-grey {
  background: #F2F6F7;
  padding: 60px 0 0;
  margin: 0 0 60px; }

.page-template-template-features .features-optimized {
  background-image: url("assets/img/slant-bg-ltblue.svg");
  background-size: 100%;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  padding-bottom: 60px; }
  .page-template-template-features .features-optimized .features-video {
    text-align: center;
    margin: 0 0 60px; }
    .page-template-template-features .features-optimized .features-video .video-thumb {
      background-color: #fff;
      width: 720px;
      max-width: 100%;
      height: 425px;
      position: relative;
      text-align: center;
      margin: 0 auto;
      background-size: cover;
      background-position: 50% 50%;
      border: 10px solid #fff;
      box-shadow: 0 15px 35px rgba(50, 50, 134, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
      border-radius: 4px; }
    .page-template-template-features .features-optimized .features-video .btn-play {
      background: transparent;
      border: 0;
      padding: 0;
      margin: 0;
      color: rgba(255, 255, 255, 0.7);
      font-size: 90px; }
      .page-template-template-features .features-optimized .features-video .btn-play:hover {
        color: white; }
  .page-template-template-features .features-optimized .lt-blue-wrapper {
    background: #F2F6F7; }

.page-template-template-features .actions {
  text-align: center;
  margin: 30px 0; }
  .page-template-template-features .actions .btn-action {
    padding: 12px 60px; }

.features-optimized .features-wrapper .feature .feature-icon {
  background: #DAE7F3;
  color: #0C5FAF; }

.features-optimized .features-wrapper .feature.highlight .feature-icon {
  border-color: #0C5FAF; }

.features-everything .features-wrapper .feature.highlight .feature-icon {
  border-color: #00845E; }

.features-easy-to-use .features-wrapper .feature .feature-icon {
  background: #F3E0DA;
  color: #9F2200; }

.features-easy-to-use .features-wrapper .feature.highlight .feature-icon {
  border-color: #9F2200; }

.features-management .features-wrapper .feature .feature-icon {
  background: #FDF1DC;
  color: #FFAF17; }

.features-management .features-wrapper .feature.highlight .feature-icon {
  border-color: #FFAF17; }

@media (min-width: 768px) and (max-width: 991px) {
  .page-template-template-features .features-optimized {
    background-image: url("assets/img/slant-bg-ltblue.svg");
    background-size: 100%;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    padding-bottom: 60px; } }

@media (max-width: 767px) {
  .page-template-template-features .features-optimized {
    background: none;
    padding-bottom: 40px; }
    .page-template-template-features .features-optimized .features-video .video-thumb {
      height: 320px; } }

@media (max-width: 480px) {
  .page-template-template-features .features-optimized {
    background: none;
    padding-bottom: 30px; }
    .page-template-template-features .features-optimized .features-video .video-thumb {
      height: 240px; } }

.page-template-template-home:before {
  content: '';
  display: block;
  width: 100%;
  height: 150px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0);
  position: absolute;
  top: 0;
  z-index: 10; }

.single .page-billboard {
  text-align: left;
  padding: 125px 0 50px; }
  .single .page-billboard h1 {
    font-size: 42px;
    font-weight: 400 !important;
    display: inline-block;
    text-transform: none;
    margin: 0 15px 0 0; }
  .single .page-billboard h2 {
    font-size: 21px;
    text-transform: none;
    font-weight: 400 !important;
    display: inline-block;
    margin: 0; }

.single .type-post .post-img {
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
  margin: 0 0 30px; }

.single .type-post .post-details {
  margin: 0 0 30px; }
  .single .type-post .post-details .post-categories {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .single .type-post .post-details .post-categories li a {
      font-size: 12px;
      letter-spacing: 3px;
      text-transform: uppercase;
      display: block;
      margin: 0 0 8px;
      font-weight: 500; }
  .single .type-post .post-details .post-title {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #E9E9EB; }
    .single .type-post .post-details .post-title a {
      color: #333; }
  .single .type-post .post-details .post-meta {
    font-size: 14px;
    float: left; }

.single .type-post .post-share {
  float: right;
  min-height: 30px; }
  .single .type-post .post-share .share-facebook {
    display: inline-block;
    vertical-align: bottom; }
  .single .type-post .post-share .share-twitter {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px; }
    .single .type-post .post-share .share-twitter iframe {
      vertical-align: bottom; }
  .single .type-post .post-share .share-pinterest {
    display: inline-block;
    margin-left: 5px; }
    .single .type-post .post-share .share-pinterest span {
      vertical-align: bottom; }

.single .post-content {
  margin: 0 0 50px; }

.single .post-author {
  border-top: 1px solid #E9E9EB;
  border-bottom: 1px solid #E9E9EB;
  padding: 30px 0; }
  .single .post-author .author-photo {
    position: relative;
    float: left;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #bbb;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    display: block; }
  .single .post-author h4 {
    margin: 0 0 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: #666; }
  .single .post-author p {
    color: #333;
    margin: 0; }

.single .post-share-bottom {
  padding: 30px 0;
  margin: 0 0 30px;
  border-bottom: 1px solid #E9E9EB; }
  .single .post-share-bottom strong {
    font-size: 16px;
    color: #333;
    margin-right: 30px; }
  .single .post-share-bottom .share-facebook {
    display: inline-block;
    vertical-align: bottom; }
  .single .post-share-bottom .share-twitter {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px; }
    .single .post-share-bottom .share-twitter iframe {
      vertical-align: bottom; }
  .single .post-share-bottom .share-pinterest {
    display: inline-block;
    margin-left: 5px; }
    .single .post-share-bottom .share-pinterest span {
      vertical-align: bottom; }

@media (max-width: 767px) {
  .single .page-billboard {
    text-align: center;
    padding: 80px 0 30px; }
    .single .page-billboard h1 {
      font-size: 36px;
      margin: 0 0 10px;
      display: block; }
    .single .page-billboard h2 {
      font-size: 18px;
      display: block;
      margin: 0; }
  .single .type-post .post-details .post-title {
    font-size: 30px; }
  .single .type-post .post-details .post-meta {
    float: none;
    margin: 0 0 15px; }
  .single .type-post .post-share {
    float: none;
    display: block; }
  .single .type-post .post-img {
    height: 320px; }
  .single .post-author .author-photo {
    width: 25%;
    padding-bottom: 25%;
    float: none;
    margin: 0 0 30px; } }

@media (max-width: 480px) {
  .single .type-post .post-details .post-title {
    font-size: 27px; }
  .single .type-post .post-img {
    height: 275px; }
  .single .post-share-bottom strong {
    display: block; } }