@import url('style-blessed1.css?z=1480908412530');

  .single .page-billboard h2 {
    font-size: 21px;
    text-transform: none;
    font-weight: 400 !important;
    display: inline-block;
    margin: 0; }

.single .type-post .post-img {
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
  margin: 0 0 30px; }

.single .type-post .post-details {
  margin: 0 0 30px; }
  .single .type-post .post-details .post-categories {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .single .type-post .post-details .post-categories li a {
      font-size: 12px;
      letter-spacing: 3px;
      text-transform: uppercase;
      display: block;
      margin: 0 0 8px;
      font-weight: 500; }
  .single .type-post .post-details .post-title {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #E9E9EB; }
    .single .type-post .post-details .post-title a {
      color: #333; }
  .single .type-post .post-details .post-meta {
    font-size: 14px;
    float: left; }

.single .type-post .post-share {
  float: right;
  min-height: 30px; }
  .single .type-post .post-share .share-facebook {
    display: inline-block;
    vertical-align: bottom; }
  .single .type-post .post-share .share-twitter {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px; }
    .single .type-post .post-share .share-twitter iframe {
      vertical-align: bottom; }
  .single .type-post .post-share .share-pinterest {
    display: inline-block;
    margin-left: 5px; }
    .single .type-post .post-share .share-pinterest span {
      vertical-align: bottom; }

.single .post-content {
  margin: 0 0 50px; }

.single .post-author {
  border-top: 1px solid #E9E9EB;
  border-bottom: 1px solid #E9E9EB;
  padding: 30px 0; }
  .single .post-author .author-photo {
    position: relative;
    float: left;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #bbb;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    display: block; }
  .single .post-author h4 {
    margin: 0 0 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: #666; }
  .single .post-author p {
    color: #333;
    margin: 0; }

.single .post-share-bottom {
  padding: 30px 0;
  margin: 0 0 30px;
  border-bottom: 1px solid #E9E9EB; }
  .single .post-share-bottom strong {
    font-size: 16px;
    color: #333;
    margin-right: 30px; }
  .single .post-share-bottom .share-facebook {
    display: inline-block;
    vertical-align: bottom; }
  .single .post-share-bottom .share-twitter {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px; }
    .single .post-share-bottom .share-twitter iframe {
      vertical-align: bottom; }
  .single .post-share-bottom .share-pinterest {
    display: inline-block;
    margin-left: 5px; }
    .single .post-share-bottom .share-pinterest span {
      vertical-align: bottom; }

@media (max-width: 767px) {
  .single .page-billboard {
    text-align: center;
    padding: 80px 0 30px; }
    .single .page-billboard h1 {
      font-size: 36px;
      margin: 0 0 10px;
      display: block; }
    .single .page-billboard h2 {
      font-size: 18px;
      display: block;
      margin: 0; }
  .single .type-post .post-details .post-title {
    font-size: 30px; }
  .single .type-post .post-details .post-meta {
    float: none;
    margin: 0 0 15px; }
  .single .type-post .post-share {
    float: none;
    display: block; }
  .single .type-post .post-img {
    height: 320px; }
  .single .post-author .author-photo {
    width: 25%;
    padding-bottom: 25%;
    float: none;
    margin: 0 0 30px; } }

@media (max-width: 480px) {
  .single .type-post .post-details .post-title {
    font-size: 27px; }
  .single .type-post .post-img {
    height: 275px; }
  .single .post-share-bottom strong {
    display: block; } }