// colors.scss
// -----------------------------------------------------------------

$blue:                #0C5FAF;
$navy:                #23435E;
$darkNavy:            #25313F;
$ltBlue:              #F2F6F7;
$green:               #00845E;
$lime:                #B9C84A;
$red:                 #9F2200;
$orange:              #FFAF17;


$border-color:        #E9E9EB;
